[Unit]
Description=One-shot resize rootfs to fill partition
After=local-fs.target
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'parted -s -f /dev/mmcblk0 resizepart 2 100% 2>/dev/null; partprobe /dev/mmcblk0; sleep 2; resize2fs /dev/mmcblk0p2'
ExecStartPost=/bin/systemctl disable resize-rootfs.service
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
